@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&family=Playfair+Display:wght@400..900&display=swap');

/* General Styling */
body {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    color: #0D1319;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.facebook-icon svg {
    width: 25px;
    fill: #939698;
    transition: 0.3s;
}

.facebook-icon:hover svg {
    fill: #101820;
}

img {
    max-width: 100%;
}

.image-radius {
    border-radius: 50px;
}

.logo {
    max-width: 150px;
}

.nav-link {
    font-size: 1.15rem !important;
}

.hero-section {
    background-color: #0D1319;
    position: relative;
    overflow-x: hidden;
}

.hero-section.hero-section-desktop {
    background-image: url(../images/hero-bg.png);
    background-size: auto 100%;
    background-position: center right;
}

.hero-para {
    text-align: center;
    color: #fff;
    position: relative;
    font-family: 'Barlow Condensed';
}

.hero-para span {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 10vw;
    line-height: 0.7;
}

.hero-para span:nth-child(2) {
    opacity: 0.7;
}

.hero-section::before,
.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: -12%;
    width: 25%;
    height: 100%;
    transform: skewX(-15deg);
    transform-origin: top right;
    z-index: 0;
    opacity: 0.6;
}

.hero-section::before {
    background-color: #5D6165;
}

.hero-section::after {
    background-color: #42474C;
    right: 12.9%;
    width: 12%;
}

.hero-para-col {
    width: 55vw;
}

.hero-page-header {
    background-color: #0D1319;
    padding: 2rem 0;
    position: relative;
}

.hero-section.hero-meet {
    background-color: #fff;
    background-image: url(../images/bg2.png);
    background-size: 70% auto;
    background-position: center right;
    background-repeat: no-repeat;
}

.hero-section.hero-priorities {
    background-color: #fff;
    background-image: url(../images/priorities-header.png);
    background-size: 50% auto;
    background-position: 100% 15%;
    background-repeat: no-repeat;
}

.hero-page-header {
    width: 50vw;
}

.hero-page-header::after {
    content: "";
    position: absolute;
    background-color: #0D1319;
    width: 100px;
    height: 100%;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    transform: skewX(-15deg);
    top: 0;
    right: -50px;
}

.hero-page-header.hero-page-header-priorities::after {
    content: "";
    position: absolute;
    background-color: #42474c;
    width: 80px;
}

.no-before-after::after,
.no-before-after::before {
    content: none !important;
}

.btn-wrapper {
    position: relative;
    width: 50vw;
}

.text-red {
    color: #E1001D !important;
}

.hero-btn {
    position: absolute;
    right: 15%;
    bottom: 0;
    background: #fff;
    color: #E1001D;
    font-family: "Barlow Condensed", serif;
    src: url(https://fonts.gstatic.com/s/barlowcondensed/v12/HTxyL3I-JCGChYJ8VI-L6OO_au7B6xTrY3TmtYkGUrs.woff2) format('woff2');
    font-weight: 700;
    font-style: italic;
    line-height: 1.1;
    font-size: 2.5rem;
    z-index: 2;
    text-decoration: none !important;
    border-radius: 40px;
    padding: 0.9rem 2.5rem;
    box-shadow: 1px 1px 2px #0000006e;
    transition: 0.4s;
}

.hero-btn:hover {
    background: #E1001D;
    color: #fff;
}

.headshot-wrapper {
    position: absolute;
    width: 23vw;
    bottom: 0;
    right: 20%;
    z-index: 1;
}

.headshot-wrapper.headshot-meet {
    width: 35vw;
    right: 9%;
}

@media (min-width: 1400px) {
    .headshot-wrapper {
        width: 21vw;
    }

    .headshot-wrapper.headshot-meet {
        width: 32vw;
        right: 9%;
    }
}


.form-heading {
    color: #0D1319;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
}

input.input-text {
    width: 100%;
    border: 1px solid #222;
    color: #222;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 20px !important;
    padding: 0.35rem 0.5rem;
    padding-left: 1rem;
    margin-bottom: 0.75rem;
}

.checkbox-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 400;
    user-select: none;
}

.custom-check {
    box-shadow: none !important;
}

.btn-red {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    background: #E1001D;
    border: none !important;
    border-radius: 20px;
    font-family: 'Barlow Condensed';
    box-shadow: none !important;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    line-height: 1;
}

/* section 2 */
.para2 {
    font-size: 1.43rem;
    line-height: 1.2;
}


/* priorities page */

.heading2 {
    font-family: "Barlow Condensed", serif;
    font-size: 1.75rem;
    text-align: center;
    line-height: 1;
    max-width: 250px;
    margin: auto;
}

.priorities-image {
    max-width: 250px;
    display: block;
    border-radius: 20px;
    margin: 15px auto;
}

@media (min-width: 1400px) {
    
.heading2 {
    max-width: 350px;
}

.priorities-image {
    max-width: 350px;
}
}

/* footer */

footer h1,
footer a {
    font-family: 'Barlow Condensed';
    color: #fff;
}

footer a {
    font-size: 1.25rem;
}

.headshot-btn-wrapper {
    display: none;
}

/* Responsive Design */
@media (max-width: 992px) {
    .hero-para {
        font-size: 2.6vw;
    }

    .hero-btn {
        right: 0;
    }
}


@media (max-width: 768px) {
    .footer-para {
        padding: 0 0.5rem;
        text-align: center;
    }

    .hero-btn {
        font-size: 1.75rem;
        padding: 0.4rem 1.5rem;
    }

    .hero-para {
        font-size: 2vw;
    }

    .block-quote svg {
        width: 20px;
    }
}


@media (max-width: 567px) {
    header>div.justify-content-between.py-3 {
        justify-content: center !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .facebook-icon {
        display: none !important;
    }

    .navbar-nav.ms-3 {
        margin-left: 0 !important;
        text-align: center;
    }

    .navbar-toggler {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }

    .nav-link {
        font-size: 1.35rem !important;
    }

    .headshot-wrapper {
        position: relative;
        width: 100%;
        right: auto;
        bottom: auto;
        background: #0D1319;
    }

    .headshot-meet-mobile {
        display: block !important;
    }

    .hero-section-mobile {
        display: block !important;
    }

    .hero-section-desktop,
    .headshot-meet {
        display: none !important;
    }

    .hero-section::before,
    .hero-section::after {
        content: none !important;
    }

    .hero-para span {
        font-size: 20vw;
    }

    .hero-para.hero-para2 span {
        font-size: 15vw;
    }

    .btn-wrapper {
        display: none;
    }

    .hero-btn {
        font-size: 1.75rem;
        padding: 0.4rem 1.5rem;
        right: 50%;
        transform: translateX(50%);
        bottom: -25px;
    }

    .hero-para-col {
        width: 100%;
    }

    .hero-para {
        font-size: 2.1rem;
        padding: 0 1rem;
    }

    .checkbox-row {
        flex-direction: column;
    }

    .headshot-btn-wrapper {
        display: block;
    }

    .block-quote {
        position: absolute;
        left: -5px;
        top: -10vw;
    }

    .block-quote svg {
        width: 8vw;
    }

@media (max-width: 567px) {

footer h1{
        font-size: 1.5rem;
    }

}
